<%- include('../partials/header.ejs'); %>

<div class = "container">
    <header class="jumbotron">
        <div>
            <h1>Welcome to Building Competition!</h1>
            <p>
                <a class= "btn btn-dark btn-large" href="competitions/cases/">View our Competitions</a>
            </p>
        </div>
    </header>

    <div class = "container">
        <div class = "infor_box row">
            <div class = "col-3 title_box">
                <h3 class = "box_content">What is A Building Competition</h3>
            </div>
            <div class = "col-9 des_box">
                <p class = "box_content">
                    Building Competition generally is energy saving competition between differen people inside the same building or between different building.
                    Residents or workers inside the buildings would take all kinds of actions to save energy during a certain period of time and by the end of the period, 
                    a winner will be decided on which building saved more energy.
                </p>
            </div>
        </div>
        <div class = "infor_box row">
            <div class = "col-9 des_box">
                <ul class = "box_content">
                    <li>Save energy, water, and money – and reduce waste</li>
                    <li>Identify best practices to leverage across your portfolio</li>
                    <li>Jumpstart savings that last beyond the competition</li>
                    <li>Work toward your sustainability goals</li>
                    <li>Engage your occupants and local community</li>
                    <li>Earn positive publicity for achievements</li>
                    <li>Build momentum for benchmarking and improving efficiency</li>   
                </ul>
            </div>
            <div class = "col-3 title_box">
                <h3 class = "box_content">Why Build A Competition</h3>
            </div>
        </div>
        <div class = "infor_box row">
            <div class = "col-3 title_box">
                <h3 class = "box_content">Anyone Can Build A Competition</h3>
            </div>
            <div class = "col-9 des_box">
                <p class = "box_content">
                    Any organization, public or private, can build an efficiency competition, 
                    including trade associations, commercial businesses, manufacturing plants, utility companies, 
                    local and state governments, schools, congregations … and the list goes on! 
                    As long as you have more than one building in your portfolio or can recruit more than one building to participate, 
                    you can build a competition. 
                </p>
            </div>
        </div>
        <div class = "infor_box row">
            <div class = "col-9 des_box">
                <p class = "box_content">
                    This website provides information about the building competitions on University of North Carolina at Chapel Hill. UNC Chapel Hill 
                    has thrown many different building competitions with different organizations, such as RESPC and UNC Facilities, and has achieved 
                    success to different extend. This website intends to provide information about the past building competitions, give suggestions and 
                    help to build better competitions in the future for more energy saving.
                </p>
            </div>
            <div class = "col-3 title_box">
                <h3 class = "box_content">What is This Website</h3>
            </div>
        </div>
        
    </div>
</div>


<%- include('../partials/footer.ejs'); %>